 body {
     background-color: #ABA8A7;
 }
 
 .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .flex-container>items {
     margin: 100px;
 }
 
 .format {
     height: 200px;
     width: 300px;
     margin: 20px;
 }