body {
    background-color: #ABA8A7;
}

header {
    background-color: white(128, 128, 128);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container>items {
    margin: 100px;
    height: 50px;
}

.format {
    height: 100px;
    width: 200px;
    margin: 20px;
}